[submodule "starmath"]
	path = starmath
	url = ssh://earth/home/gandalf/code/GITREPOS/starmath.git
[submodule "starinput"]
	path = starinput
	url = ssh://earth/home/gandalf/code/GITREPOS/starinput.git
[submodule "stargraphics"]
	path = stargraphics
	url = ssh://earth/home/gandalf/code/GITREPOS/stargraphics.git
