[submodule "starmath"]
	path = starmath
	url = git@github.com:hubris/starmath.git
[submodule "starinput"]
	path = starinput
	url = git@github.com:hubris/starinput.git
[submodule "stargraphics"]
	path = stargraphics
	url = git@github.com:hubris/stargraphics.git
[submodule "starutils"]
	path = starutils
	url = git@github.com:hubris/starutils.git
